- var title = model.title ? model.title : model.url

.feed-spinner
    img.loader(src="images/loader.gif", alt="...")
span.feed-delete(
    title="remove this feed and place its details on the new feed form"
) &times;
span.feed-count
a.feed-title(
    title=title, 
    data-tags="#{model.tags}"
    href="#{model.url}"
) #{title}
