#content
    #menu(class="row")
        #menu-refresh-all(class="col-xs-3 menu-button") REFRESH
        #menu-tabs(class="col-xs-9")
            ul#menu-tabs-nav(class="nav nav-tabs", role="tablist")
                li#menu-tabs-home(class="active", role="presentation") 
                    a(class="menu-button",
                      href="#panel-home", 
                      aria-controls="home", 
                      role="tab", 
                      data-toggle="tab") HOME
                li#menu-tabs-add-feeds(role="presentation") 
                    a(class="menu-button",
                      href="#panel-add-feeds", 
                      aria-controls="add-feeds", 
                      role="tab", 
                      data-toggle="tab") ADD FEEDS
                li#menu-tabs-history(role="presentation") 
                    a(class="menu-button",
                      href="#panel-history", 
                      aria-controls="history", 
                      role="tab", 
                      data-toggle="tab") HISTORY
                li#menu-tabs-history(role="presentation") 
                    a(class="menu-button",
                      href="#panel-settings", 
                      aria-controls="settings", 
                      role="tab", 
                      data-toggle="tab") SETTINGS
                li#menu-tabs-help(role="presentation") 
                    a(class="menu-button",
                      href="#panel-help", 
                      aria-controls="help", 
                      role="tab", 
                      data-toggle="tab") HELP
    #panels(class="row")
        #panel-feeds(class="col-xs-3") tags
        #panel-main(class="col-xs-7") 
            #panel-main-tabs(class="tab-content")
                #panel-home(class="tab-pane fade in active", role="tabpanel") home
                #panel-add-feeds(class="tab-pane fade", role="tabpanel") add feeds
                #panel-history(class="tab-pane fade", role="tabpanel") history
                #panel-settings(class="tab-pane fade", role="tabpanel") settings
                #panel-help(class="tab-pane fade", role="tabpanel") help
        #panel-tips(class="col-xs-2") tips
