#content
    #menu(class="row")
        #menu-refresh-all(class="col-xs-3")
        #menu-tabs(class="col-xs-9")
            ul#menu-tabs-nav(class="nav nav-tabs", role="tablist")
                li#menu-tabs-links(class="active", role="presentation") 
                    a(class="menu-button",
                      href="#panel-links", 
                      aria-controls="links", 
                      role="tab", 
                      data-toggle="tab") 
                        span(class="glyphicon glyphicon-home")
                        | Links
                li#menu-tabs-add-feeds(role="presentation") 
                    a(class="menu-button",
                      href="#panel-add-feeds", 
                      aria-controls="add-feeds", 
                      role="tab", 
                      data-toggle="tab") 
                        span(class="glyphicon glyphicon-plus")
                        | Add Feeds
                li#menu-tabs-history(role="presentation") 
                    a(class="menu-button",
                      href="#panel-history", 
                      aria-controls="history", 
                      role="tab", 
                      data-toggle="tab") 
                        span(class="glyphicon glyphicon-time")
                        | History
                li#menu-tabs-history(role="presentation") 
                    a(class="menu-button",
                      href="#panel-settings", 
                      aria-controls="settings", 
                      role="tab", 
                      data-toggle="tab") 
                        span(class="glyphicon glyphicon-cog")
                        | Settings
                li#menu-tabs-help(role="presentation") 
                    a(class="menu-button",
                      href="#panel-help", 
                      aria-controls="help", 
                      role="tab", 
                      data-toggle="tab") 
                        span(class="glyphicon glyphicon-question-sign")
                        | Help
    #panels(class="row")
        #panel-feeds(class="col-xs-3")
        #panel-main(class="col-xs-7") 
            #panel-main-tabs(class="tab-content")
                #panel-links(class="tab-pane fade in active", role="tabpanel")
                    include ./panel-links.jade
                #panel-add-feeds(class="tab-pane fade", role="tabpanel") 
                    include ./panel-add-feeds.jade
                #panel-history(class="tab-pane fade", role="tabpanel")
                    include ./panel-history.jade
                #panel-settings(class="tab-pane fade", role="tabpanel")
                    include ./panel-settings.jade
                #panel-help(class="tab-pane fade", role="tabpanel")
                    include ./panel-help.jade
        #panel-tips(class="col-xs-2") tips
