li(class="link #{from} link-#{state}")
    div(class="panel panel-default")
        div(class="panel-heading")
            h3.link-title(class="panel-title")
                a(href="#{url}", target="_blank") #{title}
            a(title=t("link send to twitter"),
              href="https://twitter.com/intent/tweet?text=#{encodedTitle}&url=#{url}",
              target="_blank")
              span(class="fa fa-twitter")
        div(class="panel-body")
            .link-infos
            .link-description
                | !{description}
        div(class="panel-footer")
            .link-buttons
                a(class="btn btn-default", href="#{url}", target="_blank")
                    span(class="glyphicon glyphicon-link")=t("link open and read now")
                a(class="btn btn-invert",
                  title="send to Twitter",
                  href="https://twitter.com/intent/tweet?text=#{encodedTitle}&url=#{url}",
                  target="_blank")
                  span(class="fa fa-twitter")=t("link share")
