li(class="link #{from} link-#{state}")
    .link-buttons
        a.btn(
            title="send to tweeter",
            class="link-send-to-tweeter",
            href="https://twitter.com/intent/tweet?text=#{encodedTitle}&url=#{url}", 
            target="_blank"
        )
            span.fa.fa-twitter
        if toCozyBookMarks
            button.btn(
                title="send to cozy bookmarks",
                class="link-send-to-cozy-bookmarks"
            )
                span.glyphicon.glyphicon-bookmark
        button.btn(
            title="view description", 
            class="link-view-description"
        )
            span.glyphicon.glyphicon-plus
    a(href="#{url}", target="_blank") #{title}
    .link-description
        | !{description}
