h1=t("panelImportExport import")

iframe(style="display:none")

form.import(role="form")
    h3=t("panelImportExport description import")
    input#import-file(type="file", name="feeds-file", style="display:none")
    button(class="btn btn-default", type="submit")
           span(class="glyphicon glyphicon-cloud-upload")=t("panelImportExport import").toUpperCase()

    .results
        span.import-success(class="label label-success") 0
        span.import-failed(class="label label-danger") 0

h1=t("panelImportExport export")
form.import(role="form")
    h3=t("comming soon")
