h1=t("help")
    h3=t("help how does it work")
    p=t("help tool presentation")
    p=t("help idea behind")
    p=t("help difference from others reader")

    h3=t("help news of the year")
    p=t("help news of the year answer")
    h3=t("help scale 6000 feeds")
    p=t("help scale 6000 feeds answer")
    h3=t("help how do i start")
    p=t("help how do i start answer")
    h3=t("help how to add add feed")
    p=t("help how to add add feed answer")
    h3=t("help how to edit feed")
    p=t("help how to edit feed answer")
    h3=t("help only beginning of feed url")
    p=t("help only beginning of feed url answer")
    h3=t("help what are tags")
    p=t("help what are tags answer")
    h3=t("help don't reload all feeds")
    p=t("help don't reload all feeds answer")
    h3=t("help links disappeared")
    p=t("help links disappeared answer")
    h3=t("help retrieve old links")
    p=t("help retrieve old links answer")
    h3=t("help what is quickmark app")
    p=t("help what is quickmark app answer")
    h3=t("help it still doesn't work")
    p
        =t("help please")
        | &nbsp;
        a(href="https://github.com/pierrerousseau/zero-feeds/issues", target="_blank") #{t("help add an issue")}
        | &nbsp;
        =t("help and help me to help you")
    h3=t("help free softwares")
    p
        a(href="https://github.com/pierrerousseau/zero-feeds", target="_blank") #{t("help me too")}
        | . &nbsp;
        =t("help licence")
        | &nbsp;
        a(href="https://en.wikipedia.org/wiki/WTFPL", target="_blank") WTFPL
        | .
