h1.welcome-title
    img.poulpe(alt="poulpe", src="images/poulpe.svg")
    p=t("panelWelcome welcome to zero feeds")

.welcome-message
    p=t("panelWelcome presentation")
    p.welcome-start=t("panelWelcome start now")
    .welcome-actions
        .welcome-add-feed(class="btn btn-default")=t("panelWelcome add your first feed")
        .welcome-add-feeds(class="btn btn-invert")=t("panelWelcome import opml file")
